*{
    list-style: none;
    outline: none;
}
:root{                  /*类似于body的功能*/
    font-family: "微软雅黑";
    text-align: center;
}
a{
    text-indent: 4em;
    display: inline-block;
    font-size: 22px;
    color: #5E2D00;
    font-weight: bold;
}
a:nth-child(1){             /*从前往后选*/
    text-indent: 0em;
}
a:nth-last-child(2){        /*从后往前选*/
    text-indent: 1em;
}
a:link,a:visited{  
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #f03;
}
hr{
    width: 700px;
    height: 2px;
    background-color: #5E2D00;
}
dl{
    display:none;   /*设置隐藏*/
}
dt>img{         /*子类选择器选择图片*/
    width: 400px;
    height: 440px;
}
dd{
    line-height: 38px;
    font-size: 22px;
    font-family: "微软雅黑";
    color: #333;
}
dd:before{
    content: url("../code/images/book_12.832214765101px_1229298_easyicon.net.png");
}
/*由于这里加入了一张图片，所以这里原来第一个dd变成了第二个*/
dd:nth-child(odd){
    color: #BDA793;
}
dd:nth-child(even){
    color: #2c7c8a;
}
dd:nth-child(3)>em{
    color: #f03;
    font-weight: bold;
    font-style: normal;
}
dd:(2)>em{        /*子代选择器*/
    color: #5E2D00;
    font-weight: bold;
    font-style: normal;
}
:target{
    display: block;     /*设置显示*/
}
